@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(26, 37, 43);
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 100vh;
    color: aliceblue;
    font-family: Oswald;
}

button {
    border: none;
    background: none;
    color: aliceblue;
    font-family: Oswald;
}

button:hover {
    color: blue;
    background-color: rgba(0, 81, 255, 0.2);
}

.datasets {
    margin: 0;
    padding: 0;
}

.datasets button {
    padding: 0;
    border: none;
    background: none;
    color: aliceblue;
    font-family: Oswald;
    padding: 0.8em;
    height: 100%;
}

.datasets button:hover {
    color: blue;
    background-color: rgba(0, 81, 255, 0.2);
}

.datasets ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    line-height: 6em;
    margin: 0;
    padding: 0;
}

.wheel {
    height: 100px;
    text-align: center;
}

.wheel canvas {
    width: 90%;
    height: 100%;
}


.video {
    position: relative;
    text-align: center;

    height: calc(100vh - 6em - 100px - 5em - 20px);
}

.video video {
    height: 100%;

    -webkit-mask-image:url(images/mask.png);
    -webkit-mask-position:center center;
    -webkit-mask-repeat:no-repeat;
    -webkit-mask-size:cover;

    mask-image:url(images/mask.png);
    mask-position:center center;
    mask-repeat:no-repeat;
    mask-size:cover;
}

.video button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 3em;
    width: 7em;
}

.description {
    font-family: Oswald;
    color: rgb(47, 78, 27);
    overflow: visible;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    margin: 0.8em;
    line-height: 5em;
}

.edit-btn {
    width: 20px;
    height: 20px;
    background-color: wheat;

    -webkit-mask-image:url(images/edit-icon.png);
    -webkit-mask-position:center center;
    -webkit-mask-repeat:no-repeat;
    -webkit-mask-size: cover;

    mask-image:url(images/edit-icon.png);
    mask-position:center center;
    mask-repeat:no-repeat;
    mask-size:cover;

}

.edit-btn:hover {
    background-color: aqua;
}

.fadein {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.fadeout {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
    opacity: 0;
}

.edit-shield {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.edit-field {
    border-radius: 20px;
    position: absolute;
    text-align: center;
    width: fit-content;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(19, 26, 29);
}

.edit-field button {
    margin: 1em;
}

.scrollview {
    min-height: 150pt;
    max-height: 250pt;
    min-width: 200pt;
    max-width: 400pt;
    overflow-y: auto;
}

.scrollview ul {
    list-style-type: none;
    text-align: start;
    padding: 0;
    margin: 1em;
}


